%h1 Store
%p
  %strong Name:
  = @store.name
%p
%p
  %strong Address:
  = @store.address
%p
  %strong Latitude:
  = @store.latitude
%p
  %strong Longitude:
  = @store.longitude
= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@store.latitude}%2C#{@store.longitude}"
%h3 Nearby stores
%ul
  - for store in @store.nearbys(10)
    %li
      = link_to store.address, store
      (#{store.distance.round(2)} miles)
%p
  = link_to "Edit |", edit_store_path(@store)
  = link_to "Destroy |", @store, :confirm => 'Are you sure?', :method => :delete
  = link_to "View All", stores_path
